/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 14px;
  font-weight: 400;
  color: #252525;
}
.header-top {
  background-color: #f44336;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 40px;
  line-height: 40px;
}

.container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p,
  a,
  span {
    color: #fff;
    padding-right: 15px;
    font-weight: 400;
    text-transform: capitalize;
  }
}
.header__text-1 {
  p {
    display: inline;
  }
}

.header__text-2 {
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
  }
}
.upload__opt {
  display: inline-flex;
  align-items: center;
  img {
    width: 16px;
    margin-right: 10px;
  }
}
.login_opt {
  display: inline-flex;
  align-items: center;
  img {
    width: 16px;
    margin-right: 10px;
  }
}
.main__menu {
  font-weight: 500;
  font-size: 14px;
  background-color: #f7f7f7;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  position: static;
  max-width: 100%;

  a {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    transition: all 0.2s ease-out 0s;
  }
}

.menu {
  > li {
    height: 62px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s ease;
    cursor: pointer;
    &:hover {
      border-bottom-color: red;
    }
    > a {
      color: black;
      text-decoration: none;
    }
  }
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.home {
  position: relative;
  &:hover {
    .home__show {
      display: block;
    }
  }
}
.home__show {
  font-family: Poppins;
  width: 230px;
  display: none;
  list-style: none;
  background: #fff;
  position: absolute;
  z-index: 2;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.9px;
  padding-left: 21px;
  left: -30px;
  top: 62px;
  li {
    padding: 5px 10px;
    text-transform: uppercase;
    position: relative;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.9px;
    border-bottom: 1px solid #eee;
  }
}

.pages {
  position: relative;
  &:hover {
    .pages__show {
      display: block;
    }
  }
}
.pages__show {
  position: absolute;
  z-index: 2;
  display: none;
  list-style: none;
  background: #fff;
  width: 230px;
  left: -10px;
  top: 62px;
  ul {
    box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.07);
  }
  li {
    padding: 5px 10px;
    text-transform: uppercase;
    position: relative;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.9px;
    border-bottom: 1px solid #eee;
    width: 230px;
  }

  .blog {
    > ul {
      display: none;
      background-color: white;
    }
    &:hover {
      > ul {
        position: absolute;
        z-index: 2;
        list-style: none;
        display: none;
        top: 0px;
        left: 230px;
        display: block;
      }
    }
  }
}
.right__icon {
  float: right;
}

.all__Videos {
  position: relative;
  :hover {
    .all__Videos-show {
      display: block;
    }
  }
}
.all__Videos-show {
  position: absolute;
  z-index: 2;
  list-style: none;
  display: none;
  top: 0px;
  right: -130px;
}
.menu {
  .home__show,
  .pages__show,
  .mega__menu-list1,
  .mega__menu-list2,
  .mega__menu-list3,
  .mega__menu-list4 {
    li {
      color: #1d2025;
      padding: 10px 23px;
      display: block;
      font-weight: 500;
      letter-spacing: 0.5px;
      text-transform: none;
      &:hover {
        > a {
          color: gray;
          text-transform: capitalize;
          margin-left: 20px;
        }
      }
    }
  }
}

.mega__menu-list {
  background-color: white;
  cursor: default;
  font-family: Poppins;
  font-weight: 400;
  font-size: 13px;
  width: calc(100% - 30px);
  right: 15px;
  max-width: 1440px;
  position: absolute;
  z-index: 3;
  justify-content: space-between;
  box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.07);
  top: 61px;
  ul {
    list-style: none;
  }
  li {
    padding: 10px 0;
    i {
      padding-right: 10px;
    }
  }
  > div {
    width: 25%;
    padding: 25px 9px 25px 48px;
    border-right: 1px solid #eee;
  }
  display: none;
}

.mega__menu:hover {
  .mega__menu-list {
    display: flex;
  }
}
.mega__menu {
  h4 {
    font-weight: 400;
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
  }
}
.toggle-menu {
  background-color: white;
  display: none;
  position: absolute;
  z-index: 1000;
  top: 62px;
  right: 0px;
  width: 90%;
}
.toggle__list {
  list-style: none;
  li {
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.9px;
    border-bottom: 1px solid #eee;
    a {
      text-decoration: none;
      color: black;
      padding: 15px 25px;
      display: inline-block;
      transition: all 0.2s ease-out 0s;
      &:hover {
        margin-left: 5px;
      }
      i {
        padding-right: 10px;
      }
    }

    .arrow {
      width: 33px;
      height: 32px;
      position: absolute;

      top: 9px;
      right: 18px;
      cursor: pointer;
      z-index: 999;
      background-color: #eee;
      border-radius: 3px;
      &::before {
        content: "";
        background: #1d2025;
        position: absolute;
        top: 15px;
        left: 12px;
        width: 10px;
        height: 2px;
      }
      &::after {
        content: "";
        background: #1d2025;
        position: absolute;
        top: 11px;
        left: 16px;
        height: 10px;
        width: 2px;
      }
    }
    ul {
      display: none;
      list-style: none;
      li {
        color: #1d2025;
        padding-left: 30px;
      }
    }
    &.show {
      > ul {
        display: block;
      }
      > .arrow::after {
        display: none;
      }
    }
  }
}

.toggle__symbol {
  font-size: 24px;
  padding: 10px;
  display: none;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}
.single__feature {
  width: 100%;
  display: flex;
}
.feature__one {
  width: 50%;
  flex: 0 0 auto;
  padding-right: 12px;
}
.feature__one-items {
  position: relative;
  img {
    height: 430px;
  }
}
.video__duration {
  position: absolute;
  right: 10px;
  color: white;
  background-color: black;
  padding: 4px;
  &.top {
    top: 10px;
    font-size: 13px;
  }
  &.bottom {
    bottom: 10px;
    font-size: 13px;
  }
  border-radius: 4px;
}
.video__text {
  position: absolute;
  left: 30px;
  color: #fff;
  bottom: 10%;
  max-height: 45px;
  line-height: 1.5em;
  overflow: hidden;
}
.video__cover {
  width: 100%;
}
.feature__two-items {
  display: flex;
  flex-wrap: wrap;
}
.feature__two-items-child {
  position: relative;
  width: 50%;
  padding: 0 4px;
  img {
    height: 211px;
  }
}
.trending__videos-area {
  width: 100%;
}

.section-header {
  padding: 15px 0;
}
.heading__row-icon {
  background-color: #f44336;
  color: #fff;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
  text-align: center;
  width: 35px;
}
h3 {
  font-size: 19px;
  display: inline-block;
  font-weight: 700;
  text-transform: capitalize;
  color: #333333;
  margin: 0;
  line-height: 1.2;
  font-family: Poppins;
}
.trending__video {
  .video__row-items {
    .video-item {
      width: 48%;
    }
  }
}
.video__row-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.video-item {
  &:hover {
    > .video__image-text > a {
      &::before {
        visibility: visible;
        opacity: 1;
      }
      &::after {
        visibility: hidden;
        transform: rotate(-360deg);
        opacity: 0.0001;
      }
    }
  }
  > .video__image-text {
    margin-bottom: 5px;
    display: block;
    position: relative;
    overflow: hidden;
    > a {
      position: relative;
      display: block;
      height: 160px;
      cursor: pointer;

      > img {
        max-width: 100%;
        width: 100%;
        height: 160px;
        object-fit: cover;
      }
      &::before {
        color: #f44336;
        content: "\f144";
        font-family: "Font Awesome 5 Free";
        font-size: 40px;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.5s linear 0s;
        z-index: 12;
        opacity: 0;
        visibility: hidden;
      }
      &::after {
        color: #fff;
        content: "\f144";
        font-family: "Font Awesome 5 Free";
        font-size: 40px;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: calc(50% - 22px);

        transition: all 0.3s linear 0s;
        z-index: 11;
      }
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s linear 0s;
    }
    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.video__content {
  margin-bottom: 15px;
  h4 {
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a {
    text-decoration: none;
    font-size: 14px;
    color: #252525;
    transition: all 0.4s linear 0s;
    line-height: 1.2;
    font-weight: 600;
    &:hover {
      color: red;
    }
  }
}
.video__counter {
  display: flex;
  justify-content: space-between;
}
.video__viewers {
  font-size: 12px;
  .fa.fa-eye.view-icon {
    color: #418fd1;
    padding-right: 10px;
  }
}

.video__feedback {
  font-size: 12px;
  display: flex;
  justify-content: center;
  > :first-child {
    margin-right: 8px;
  }
}
.video__like-counter {
  display: flex;
  align-items: center;
  .far.fa-thumbs-down.dislike-icon {
    color: #ff0000;
    padding-right: 10px;
  }
  .far.fa-thumbs-up.like-icon {
    color: #359261;
    padding-right: 5px;
  }
}
.view__button {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #f44336 !important;
  padding: 0;
  margin-right: 10px;
  &:hover {
    color: #1d2025 !important;
  }
}
.animal__planet-area {
  width: calc(2 / 3 * 100%);
}
.animal__planet-items {
  overflow: hidden;
  width: 100%;
  margin-bottom: 25px;
}
.animal_planet-image {
  display: inline-flex;
  .video-item img {
    width: 36%;
  }
}
.animal__planet-text {
  width: 60%;
  padding-left: 4%;
  float: left;
  h4 {
    margin-top: 0;
    line-height: 14px;
  }
}
.contributor__area {
  width: calc(1 / 3 * 100%);
  flex-direction: column;
  margin-bottom: 50px;
}
.contributor__item {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #dfdfdf;
}
.big__banner {
  img {
    width: 100%;
  }
}

.contributor__item-text {
  width: 70%;
  padding-left: 5%;
  float: left;
  h4 {
    margin-bottom: 16px;
  }
  a {
    text-decoration: none;
    color: #1d2025;
    &:hover {
      color: #167ac6;
      text-decoration: none;
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 0;
      font-size: 13px;
    }
  }
}

.subscribe-box {
  margin-top: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #252525;
}
.themeix__section-h {
  padding: 15px 0;
}
.heading-icon {
  background-color: #f44336;
  color: #fff;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
  text-align: center;
  width: 35px;
  margin-bottom: 10px;
}
.themeix__section-h {
  h3 {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: #333333;
  }
}

.subscribe-form button {
  background-color: #f44336;
  color: #fff;
}
.subscribe-form {
  position: relative;
  display: block;
  input[type="email"] {
    width: 100%;
    height: 40px;
    border: 1px solid #b7b7b7;
    padding-left: 10px;
  }
}
.subscribe-form {
  button {
    position: absolute;
    right: 0;
    border: 0;
    background-color: #f44336;
    width: 50px;
    height: 40px;
    top: 0;
    color: #fff;
  }
}
.banner__items {
  display: flex;
  justify-content: center;
}
.banner__item {
  width: 100%;
}
.footer__banner {
  width: 100%;
  max-width: 100%;
  margin: 40px 0;
}
.footer__banener-items {
  background-color: #f44336;
  display: flex;
  align-items: center;
}

.footer__banner-item-text {
  width: 75%;
  padding: 40px;
  color: #fff;

  h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
  }
}

.banner__button {
  width: 25%;
  padding: 10px 20px;
  background-color: #fff;
  color: #f44336;
  text-decoration: none;
  &:hover {
    background-color: #3694f4;
    color: #fff;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__rows {
  width: 100%;
}
.footer__row-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  margin-bottom: 30px;
}
.single__footer {
  padding: 0 10px;
  font-weight: 400;
  width: 25%;
}

.single__footer-text {
  .footer-list {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
  }

  > ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    color: black;
  }
}

.social__media {
  margin-top: 10px;
  ul {
    display: flex;
    list-style: none;
    li {
      a {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #cfcbcb;
        margin-right: 5px;
        border-radius: 50%;
        font-size: 18px;
        color: #fff;
        transition: all 0.4s linear 0s;
        &:hover {
          background-color: #00aced;
        }
      }
    }
  }
}
.footer-rows-items-copyright {
  margin-bottom: 50px;
}
.copyright__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.footer-links {
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  ul {
    list-style: none;
    display: flex;
  }
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
    &:hover {
      color: red;
    }
  }
}
.copyright-text {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
  }
}
.page__banner-items {
  width: 100%;
}
.page__banner {
  width: 100%;
  position: relative;

  display: flex;
  height: 220px;
  align-items: center;
  justify-content: space-between;
}
.page__banner-area {
  display: block;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #252525;
  background-image: url(../img/single1.jpg);
  background-size: cover;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.page__title {
  display: inline-block;
  h2 {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
    text-transform: capitalize;
    color: #fff;
    padding-right: 15px;
  }
}
.page__breadcrumb {
  float: right;
  p {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 0;
  }
  a {
    color: rgba(255, 255, 255, 0.53);
  }
}

.wrapper {
  width: 100%;
}
.page__content {
  display: flex;
  justify-content: center;
  .container {
    align-items: start;
    flex-wrap: wrap;
  }
}
.left__column {
  width: 75%;
  padding-right: 8px;
}

.videoplayer {
  position: relative;
  video,
  .second__player {
    height: 390px;
  }

  padding-top: 15px;
  iframe {
    width: 100%;
    height: 100%;
  }
  &::before {
    color: #f44336;
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    font-size: 50px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s linear 0s;
    z-index: 12;
    opacity: 0;
    visibility: hidden;
  }
  &::after {
    color: #fff;
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    font-size: 50px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: calc(50% - 22px);

    transition: all 0.3s linear 0s;
    z-index: 11;
  }
  &:hover {
    &::before {
      visibility: visible;
      opacity: 1;
    }
    &::after {
      visibility: hidden;
      transform: rotate(-360deg);
      opacity: 0.0001;
    }
  }
}
.popular__videos {
  padding: 15px;
  width: 25%;
  .video__row-items {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .video__content {
    margin-bottom: 30px;
  }
}
.video__posts-data {
  overflow: hidden;
  margin: 20px 0;
}
.video__post-title {
  .video__icons {
    float: left;
  }
}
.video__icons {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #f44336;
  line-height: 52px;
  color: #fff;
  text-align: center;
  font-size: 30px;
}

.video__post-info {
  float: left;
  h4 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  margin-left: 15px;
  a {
    font-weight: 600px;
    text-decoration: none;
    color: #252525;
  }
}

.video__posts-data {
  .video__post-counter {
    float: right;
  }
  p {
    display: inline-block;
    font-size: 12px;
  }
  .video__post-viewers {
    h3 {
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      line-height: 1.2;
    }
  }
  .video__like span {
    color: #359261;
  }
  .video__post-counter {
    .video__like {
      float: left;
    }
    .video__dislike {
      float: right;
    }
    .video__dislike span {
      color: #ff0000;
    }
  }
}
.video__post-text {
  text-align: justify;
}
.tags__and-share {
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  overflow: hidden;
  .post__tags {
    .widjet {
      display: inline-block;
      float: left;
    }
  }
  .tagcloud {
    li {
      a {
        display: block;
        padding: 8px 20px;
        border: 1px solid #ddd;
        color: #666;
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
        text-decoration: none;
        margin-right: 10px;
      }
    }
  }
  .share__options {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    h4 {
      font-size: 20px;
      margin: 0;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 300;
      color: #f44336;
    }
  }
}

.social__share {
  li {
    display: inline-block;
    a {
      width: 40px;
      height: 35px;
      line-height: 35px;
      display: block;
      color: #fff;
      font-size: 16px;
      text-align: center;
      margin-left: 5px;
    }
  }
  li.twitter-bg {
    a {
      background-color: #1da1f2;
    }
  }
  li.facebook-bg {
    a {
      background-color: #3b5998;
    }
  }
  li.google-bg {
    a {
      background-color: #dc4a3d;
    }
  }
}

.post__tags-widget {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.tagcloud li {
  display: inline-block;
}

.posts__pagination {
  margin: 50px 0;
}
.posts__pagination-row {
  display: flex;
}
.comment {
  display: flex;
}
.themeix__section-h {
  padding: 15px 0;
}
.comment__text {
  a {
    text-decoration: none;
    color: #333;
  }
  h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
  }
}
span.comment__date {
  color: #b1b1b1;
  font-size: 14px;
  line-height: 24px;
}
.comment__pic {
  img {
    width: 50px;
    height: 50px;
  }
}

ul.comments__list {
  list-style: outside none none;
  margin: 0;
  padding-left: 0;
}
ul.comments__list {
  li {
    background-color: #f4f4f4;
    border-radius: 1px;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 30px;
    .children {
      margin-left: 50px;
    }
  }
}
.comment {
  position: relative;
}
.contact__form {
  margin-top: 80px;
}
.video__content {
  h4 {
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.posts__prev {
  .prev__btn {
    color: #f44336;
  }
}
.video__post-wrapper p {
  line-height: 24px;
}
.posts__next {
  text-align: right;
  .next__btn {
    display: block;
    text-align: right;
    color: #f44336;
  }
}
.posts__pagination {
  width: 100%;
}
.posts__pagination-row {
  display: flex;
  justify-content: space-between;
}
.posts__prev {
  width: 50%;
}
.posts__next {
  width: 50%;
}
.contact__form {
  textarea {
    min-height: 200px;
  }
  input,
  textarea {
    border: 1px solid #eee;
    border-radius: 0;
    box-shadow: none;
    color: #868686;
    display: block;
    font-size: 16px;
    height: 48px;
    line-height: 1.42857;
    padding: 10px 12px;
    transition: border-color 0.15s ease-in-out 0s,
      box-shadow 0.15s ease-in-out 0s;
    width: 100%;
  }
  form {
    > :last-child {
      margin-top: 20px;
    }
  }
}
.themeix-btn-danger {
  padding: 12px 25px;
  border: medium none;
  background-color: #f44336;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
}
.sidebar__adds {
  margin: 30px 0;
  img {
    max-width: 100%;
  }
}
.search-box-wrapper {
  margin-bottom: 20px;
}
.posts-image {
  img {
    width: 100%;
    padding-top: 15px;
  }

  vertical-align: middle;
}

.modal__login-window,
.modal__upload-window {
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  textarea {
    min-height: 200px;
  }
  &.show {
    display: flex;
  }
}
.modal__content {
  width: 100%;
  height: fit-content;
  max-width: 500px;
  position: relative;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  top: 0;
  left: 0;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f44336;
  padding: 0;
  border-bottom: 1px solid #dee2e6;
}
.custom__file-upload {
  border: 1px solid #c3e4c4;
  display: inline-block;
  padding: 35px 12px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  background: #d7f5d8;
}

.modal__header-title {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 15px;
  text-transform: capitalize;
  height: 50px;
  line-height: 29px;
  border: none !important;
}
.modal__header-title-btn {
  background-color: #d93d3d;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 26px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  width: 40px;
}
#upload__file {
  display: none;
}
.modal__body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
.lable {
  display: inline-block;
}
.form__control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  textarea {
    min-height: 200px;
  }
}
.upload__form {
  input [type="file"] {
    display: none;
  }
}
.button__primary {
  background-color: #f44336;
  border: medium none;
  border-radius: 4px;
  font-size: 18px;
  min-width: 116px;
  color: white;
}
@media (min-width: 768px) {
  .container,
  .mega__menu-list {
    max-width: 720px;
  }
  .header-top {
    flex: 0 0 auto;
    width: 100%;
  }
  .animal__planet {
    display: flex;
  }
}

@media (min-width: 992px) {
  .container,
  .mega__menu-list {
    max-width: 960px;
  }
  .home__show {
    li {
      padding: 20px 6px;
    }
  }
  .trending__video .video__row-items .video-item {
    width: 22%;
  }
  .modal__upload-window {
    position: fixed;
    z-index: 13;
  }
}

@media (max-width: 1000px) {
  .header-top {
    display: none;
  }
  .menu {
    display: none;
  }

  .toggle__symbol {
    display: block;
  }
  .toggle-menu.show {
    display: block;
  }
  .single__feature {
    flex-direction: column;
  }
  .feature__one {
    width: 100%;
    padding: 0 4px;
  }
}
@media (max-width: 992px) {
  .single__footer {
    width: 50%;
  }
  .left__column {
    width: 66.5%;
  }
  .popular__videos {
    width: 33.5%;
  }
  .tags__and-share {
    justify-content: center;
    .share__options {
      margin-top: 10px;
    }
  }
}

@media (max-width: 768px) {
  .animal__planet-area {
    width: 100%;
  }
  .sidebar__adds {
    > a {
      display: block;
      min-height: 300px;
    }
  }
  .contributor__area {
    width: 100%;
  }
  .footer__banener-items {
    flex-direction: column;
  }
  .footer__banner-item-button {
    margin-bottom: 20px;
  }
  .left__column {
    width: 100%;
  }
  .popular__videos {
    width: 100%;
    padding: 15px 0;
    .video-item {
      margin-bottom: 30px;
      width: 275px;
      float: left;
    }
    .video__image-text {
      width: 100%;
    }
  }
}
@media (max-width: 576px) {
  .container,
  .mega__menu-list {
    max-width: 540px;
  }
  .feature__one {
    width: 100%;
  }
  .feature__two-items-child {
    width: 100%;
  }
  .single__feature {
    flex-wrap: wrap;
  }
  .single__footer {
    width: 100%;
    margin-bottom: 15px;
  }
  .tags__and-share {
    .tagcloud {
      li {
        a {
          padding: 8px;
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container,
  .mega__menu-list {
    max-width: 1140px;
  }

  .home__show {
    li {
      padding: 5px 10px;
    }
  }
}

@media (min-width: 1400px) {
  .container,
  .mega__menu-list {
    max-width: 1320px;
  }
}
