/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 14px;
  font-weight: 400;
  color: #252525;
}

.header-top {
  background-color: #f44336;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  min-height: 40px;
  line-height: 40px;
}

.container {
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text p,
.header__text a,
.header__text span {
  color: #fff;
  padding-right: 15px;
  font-weight: 400;
  text-transform: capitalize;
}

.header__text-1 p {
  display: inline;
}

.header__text-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text-2 a {
  text-decoration: none;
}

.upload__opt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload__opt img {
  width: 16px;
  margin-right: 10px;
}

.login_opt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_opt img {
  width: 16px;
  margin-right: 10px;
}

.main__menu {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  background-color: #f7f7f7;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: static;
  max-width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  width: 500px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu > li {
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.4s ease;
  transition: border-bottom 0.4s ease;
  cursor: pointer;
}

.menu > li:hover {
  border-bottom-color: red;
}

.menu > li > a {
  color: black;
  text-decoration: none;
}

.home {
  position: relative;
}

.home:hover .home__show {
  display: block;
}

.home__show {
  font-family: Poppins;
  width: 230px;
  display: none;
  list-style: none;
  background: #fff;
  position: absolute;
  z-index: 2;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.9px;
  padding-left: 21px;
  left: -30px;
  top: 62px;
}

.home__show li {
  padding: 5px 10px;
  text-transform: uppercase;
  position: relative;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.9px;
  border-bottom: 1px solid #eee;
}

.pages {
  position: relative;
}

.pages:hover .pages__show {
  display: block;
}

.pages__show {
  position: absolute;
  z-index: 2;
  display: none;
  list-style: none;
  background: #fff;
  width: 230px;
  left: -10px;
  top: 62px;
}

.pages__show li {
  padding: 5px 10px;
  text-transform: uppercase;
  position: relative;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.9px;
  border-bottom: 1px solid #eee;
}

.pages__show .blog .single__blog {
  display: none;
}

.pages__show .blog:hover .single__blog {
  position: absolute;
  z-index: 2;
  list-style: none;
  display: none;
  top: 0px;
  right: -110px;
  display: block;
}

.pages__show .right__icon {
  float: right;
}

.all__Videos {
  position: relative;
}

.all__Videos :hover .all__Videos-show {
  display: block;
}

.all__Videos-show {
  position: absolute;
  z-index: 2;
  list-style: none;
  display: none;
  top: 0px;
  right: -130px;
}

.mega__menu-list {
  background-color: white;
  font-family: Poppins;
  font-weight: 400;
  font-size: 13px;
  width: 100%;
  max-width: 1440px;
  position: absolute;
  z-index: 3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  right: 0px;
  top: 61px;
  display: none;
}

.mega__menu-list ul {
  list-style: none;
}

.mega__menu-list1 {
  position: absolute;
  z-index: 2;
}

.mega__menu:hover .mega__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mega__menu h4 {
  font-weight: 400;
  margin-bottom: 10px;
}

.mega__menu a {
  text-decoration: none;
}

.toggle-menu {
  background-color: white;
  display: none;
  position: absolute;
  z-index: 2;
  top: 62px;
  right: 0px;
  width: 90%;
}

.toggle__list {
  list-style: none;
}

.toggle__list li {
  text-transform: uppercase;
  position: relative;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.9px;
  border-bottom: 1px solid #eee;
}

.toggle__list li a {
  text-decoration: none;
  color: black;
  padding: 15px 25px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.toggle__list li a:hover {
  margin-left: 5px;
}

.toggle__list li a i {
  padding-right: 10px;
}

.toggle__list li .arrow {
  width: 33px;
  height: 32px;
  position: absolute;
  top: 9px;
  right: 18px;
  cursor: pointer;
  z-index: 999;
  background-color: #eee;
  border-radius: 3px;
}

.toggle__list li .arrow::before {
  content: "";
  background: #1d2025;
  position: absolute;
  top: 15px;
  left: 12px;
  width: 10px;
  height: 2px;
}

.toggle__list li .arrow::after {
  content: "";
  background: #1d2025;
  position: absolute;
  top: 11px;
  left: 16px;
  height: 10px;
  width: 2px;
}

.toggle__list li ul {
  display: none;
  list-style: none;
}

.toggle__list li ul li {
  color: #1d2025;
  padding-left: 30px;
}

.toggle__list li.show > ul {
  display: block;
}

.toggle__list li.show > .arrow::after {
  display: none;
}

.toggle__symbol {
  font-size: 24px;
  padding: 10px;
  display: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
}

.single__feature {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__one {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-right: 12px;
}

.feature__one-items {
  position: relative;
}

.feature__one-items img {
  height: 430px;
}

.video__duration {
  position: absolute;
  right: 10px;
  color: white;
  background-color: black;
  padding: 4px;
}

.video__duration.top {
  top: 10px;
}

.video__duration.bottom {
  bottom: 10px;
}

.video__text {
  position: absolute;
  left: 30px;
  color: #fff;
  bottom: 10%;
  max-height: 45px;
  line-height: 1.5em;
  overflow: hidden;
}

.video__cover {
  width: 100%;
}

.feature__two-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature__two-items-child {
  position: relative;
  width: 50%;
  padding: 0 4px;
}

.feature__two-items-child img {
  height: 211px;
}

.trending__videos-area {
  width: 100%;
}

.section-header {
  padding: 15px 0;
}

.heading__row-icon {
  background-color: #f44336;
  color: #fff;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
  text-align: center;
  width: 35px;
}

h3 {
  font-size: 20px;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  color: #333333;
  margin: 0;
  line-height: 1.2;
  font-family: Poppins;
}

.video-row-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-row-items .video-item {
  width: 22%;
}

.video-item:hover > .video__image-text > a::before {
  visibility: visible;
  opacity: 1;
}

.video-item:hover > .video__image-text > a::after {
  visibility: hidden;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  opacity: 0.0001;
}

.video-item > .video__image-text {
  margin-bottom: 5px;
  display: block;
  position: relative;
  overflow: hidden;
}

.video-item > .video__image-text > a {
  position: relative;
  display: block;
  height: 160px;
  cursor: pointer;
}

.video-item > .video__image-text > a > img {
  max-width: 100%;
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-item > .video__image-text > a::before {
  color: #f44336;
  content: "\f144";
  font-family: "Font Awesome 5 Free";
  font-size: 40px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  z-index: 12;
  opacity: 0;
  visibility: hidden;
}

.video-item > .video__image-text > a::after {
  color: #fff;
  content: "\f144";
  font-family: "Font Awesome 5 Free";
  font-size: 40px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  z-index: 11;
}

.video-item > .video__image-text::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
}

.video-item > .video__image-text:hover::after {
  opacity: 1;
  visibility: visible;
}

.video__content {
  margin-bottom: 5px;
}

.video__content h4 {
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video__content a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  color: #252525;
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
  line-height: 1.2;
  font-weight: 600;
}

.video__content a:hover {
  color: red;
}

.video__counter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.video__viewers {
  font-size: 12px;
  padding: 0 16px;
}

.video__viewers .fa.fa-eye.view-icon {
  color: #418fd1;
  padding-right: 10px;
}

.video__feedback {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video__feedback > :first-child {
  margin-right: 8px;
}

.video__like-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__like-counter .far.fa-thumbs-down.dislike-icon {
  color: #ff0000;
  padding-right: 10px;
}

.video__like-counter .far.fa-thumbs-up.like-icon {
  color: #359261;
  padding-right: 5px;
}

.view__button {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #f44336 !important;
  padding: 0;
  margin-right: 10px;
}

.view__button:hover {
  color: #1d2025 !important;
}

.animal__planet-area {
  width: calc(2 / 3 * 100%);
}

.animal__planet-items {
  overflow: hidden;
  width: 100%;
  margin-bottom: 25px;
}

.animal_planet-image {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.animal_planet-image .video-item img {
  width: 36%;
}

.animal__planet-text {
  width: 60%;
  padding-left: 4%;
  float: left;
}

.animal__planet-text h4 {
  margin-top: 0;
  line-height: 14px;
}

.contributor__area {
  width: calc(1 / 3 * 100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.contributor__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #dfdfdf;
}

.contributor__item-text {
  width: 70%;
  padding-left: 5%;
  float: left;
}

.contributor__item-text h4 {
  margin-bottom: 16px;
}

.contributor__item-text a {
  text-decoration: none;
  color: #1d2025;
}

.contributor__item-text a:hover {
  color: #167ac6;
  text-decoration: none;
  margin-bottom: 16px;
}

.contributor__item-text a p {
  margin-bottom: 0;
  font-size: 13px;
}

.subscribe-box {
  margin-top: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #252525;
}

.themeix-section-h {
  padding: 15px 0;
}

.heading-icon {
  background-color: #f44336;
  color: #fff;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
  text-align: center;
  width: 35px;
}

.themeix-section-h h3 {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  color: #333333;
}

.subscribe-form button {
  background-color: #f44336;
  color: #fff;
}

.subscribe-form {
  position: relative;
  display: block;
}

.subscribe-form input[type="email"] {
  width: 100%;
  height: 40px;
  border: 1px solid #b7b7b7;
  padding-left: 10px;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  border: 0;
  background-color: #f44336;
  width: 50px;
  height: 40px;
  top: 0;
  color: #fff;
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
}

.banner__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media (max-width: 576px) {
  .container,
  .mega__menu-list {
    max-width: 540px;
  }
  .feature__one {
    width: 100%;
  }
  .feature__two-items-child {
    width: 100%;
  }
  .single__feature {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .container,
  .mega__menu-list {
    max-width: 720px;
  }
  .header-top {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .animal__planet-area {
    width: calc(50%);
  }
  .contributor__area {
    width: calc(50%);
  }
}

@media (min-width: 992px) {
  .container,
  .mega__menu-list {
    max-width: 960px;
  }
  .home__show li {
    padding: 20px 6px;
  }
}

@media (max-width: 1000px) {
  .header-top {
    display: none;
  }
  .menu {
    display: none;
  }
  .toggle__symbol {
    display: block;
  }
  .toggle-menu.show {
    display: block;
  }
}

@media (min-width: 1200px) {
  .container,
  .mega__menu-list {
    max-width: 1140px;
  }
  .home__show li {
    padding: 5px 10px;
  }
}

@media (min-width: 1400px) {
  .container,
  .mega__menu-list {
    max-width: 1320px;
  }
}
